noscript {
  font-family: 'Inconsolata';
  color: #ED5749;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 201; }
  noscript div {
    position: fixed;
    top: -300px;
    left: -300px;
    width: calc(100% + 1000px);
    height: calc(100% + 1000px);
    z-index: 200;
    background-color: #B6BDBF; }
  noscript p {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 50%; }

html, body {
  height: 100%;
  width: 100%;
  background-color: #B6BDBF;
  font-family: 'Inconsolata';
  color: #ED5749; }

* {
  margin: 0px;
  padding: 0px;
  border: none; }

::-webkit-scrollbar {
  display: none; }

canvas {
  height: 100%;
  width: 100%; }

h1, h2 {
  font-family: 'Inconsolata', bold;
  color: #ED5749; }

#settings-wrapper {
  position: fixed; }

#settings {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  background-color: #2B3133;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3; }

#graph-container {
  z-index: -10;
  height: 100%;
  width: 100%;
  overflow: hidden; }

#menu-icon {
  position: fixed;
  left: 15px;
  top: 15px;
  width: 30px;
  height: auto;
  z-index: 4; }

#title {
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 25px; }

@keyframes pulse {
  0% {
    background-color: #2B3133; }
  50% {
    background-color: #B6BDBF; }
  100% {
    background-color: #2B3133; } }
.button {
  background-color: #B6BDBF;
  border: 1px solid #2B3133;
  border-radius: 1px;
  position: fixed;
  right: 15px;
  padding: 5px;
  box-shadow: none;
  -webkit-appearance: none;
  outline: none !important;
  z-index: 1;
  cursor: pointer; }
  .button h1 {
    display: block;
    font-size: 18px; }

.button:hover {
  background-color: #2B3133; }

#animate-button {
  bottom: 15px; }

#reset-button {
  bottom: 50px; }

#help-button {
  bottom: 85px;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
  #help-button a {
    color: #ED5749;
    text-decoration: none; }

#manual-control {
  margin-top: 60px; }

.border-div {
  height: 5px;
  border-bottom: 1px solid #ED5749;
  width: calc(100% - 50px);
  margin-left: 15px; }

.gui-container {
  width: 100%;
  margin-top: 15px;
  min-width: 300px; }
  .gui-container h2 {
    font-family: 'Inconsolata';
    font-size: 16px;
    color: #ED5749;
    margin-left: 15px; }

.dg.main.a {
  margin: 0px !important;
  width: calc(100% - 10px) !important;
  min-width: calc(100% - 10px) !important;
  color: #ED5749 !important;
  font-family: 'Inconsolata' !important;
  font-size: 14px !important; }
  .dg.main.a .close-button {
    display: none !important; }
  .dg.main.a .property-name {
    position: relative;
    bottom: 3px;
    text-shadow: none !important; }
  .dg.main.a .color {
    height: 24px !important; }
    .dg.main.a .color .property-name {
      position: relative;
      top: 2px; }
    .dg.main.a .color input {
      width: 62% !important;
      margin-right: 60px;
      position: relative;
      height: 12px;
      top: 2px;
      border-radius: 1px; }

.number input {
  color: #B6BDBF !important; }

.cr.boolean, .cr.number {
  height: 20px !important; }
  .cr.boolean input, .cr.number input {
    background-color: #2B3133; }

html body #settings .gui-container .dg.main.a .cr input {
  background-color: #2B3133; }

html body #settings .gui-container .dg.main.a .cr input:hover {
  background-color: #5c5e66; }

html body #settings .gui-container .dg.main.a .cr input:focus {
  background-color: #5c5e66; }

.cr {
  background-color: #2B3133 !important;
  border: none !important;
  height: 20px !important; }
  .cr .c {
    width: 59% !important;
    float: right !important; }
    .cr .c input {
      font-family: 'Inconsolata' !important;
      position: relative;
      bottom: 3px;
      font-size: 14px !important; }
    .cr .c input[type="checkbox"] {
      position: relative;
      right: 3px; }
  .cr .slider {
    background-color: #B6BDBF !important;
    height: 15px !important;
    border-radius: 1px; }
  .cr .slider-fg {
    background-color: #ED5749 !important;
    border-radius: 1px; }

#geometry-gui .dg.main.a {
  min-height: 100px !important; }

#animation-gui .dg.main.a {
  min-height: 140px !important; }

#manual-gui .dg.main.a {
  min-height: 120px !important; }

.apply-button {
  position: absolute;
  left: 60px;
  margin-top: 3px;
  font-family: 'Inconsolata';
  font-size: 13px;
  color: #ED5749;
  background-color: #2B3133;
  border-radius: 1px;
  padding: 2px;
  font-weight: bold;
  cursor: pointer;
  z-index: 100; }

.apply-button:hover {
  background-color: #5c5e66; }

#points-gui1 {
  float: left; }

#points-gui2 {
  float: left; }

.pgui {
  width: calc(50% - 30px);
  height: 5px;
  margin-right: 15px; }

#points-button-container {
  position: absolute;
  bottom: 18px;
  left: 15px; }

#points-customizer button {
  margin-right: 10px;
  color: #ED5749;
  font-size: 13px;
  font-family: 'Inconsolata';
  font-weight: bold;
  padding: 2px;
  background-color: #2B3133;
  z-index: 100;
  cursor: pointer;
  border-radius: 1px; }

#points-customizer button:hover {
  background-color: #5c5e66; }

#points-customizer .dg.main.a {
  min-height: 100px; }

#points-customizer {
  min-height: 140px;
  position: relative; }

#points-edit {
  position: fixed;
  display: none;
  width: 500px;
  background-color: #2B3133;
  height: 100%;
  z-index: 99;
  font-size: 13px;
  overflow-y: scroll; }
  #points-edit #points-edit-containers {
    margin-top: 60px; }
    #points-edit #points-edit-containers div {
      width: 100%;
      height: 16px;
      position: relative;
      background-color: #2B3133;
      cursor: pointer; }
      #points-edit #points-edit-containers div * {
        float: left; }
      #points-edit #points-edit-containers div .point-left {
        margin-left: 15px; }
      #points-edit #points-edit-containers div .point-right {
        position: absolute;
        right: 100px; }
      #points-edit #points-edit-containers div button {
        float: right;
        font-size: 13px;
        position: absolute;
        right: 10px;
        padding-bottom: 4px;
        background-color: inherit;
        color: #ED5749;
        font-family: 'Inconsolata';
        box-shadow: none; }
    #points-edit #points-edit-containers div:hover {
      background-color: #5c5e66; }
  #points-edit .big {
    color: #ED5749;
    font-family: 'Inconsolata';
    font-weight: bold;
    font-size: 18px;
    background-color: #2B3133;
    padding: 3px;
    position: absolute;
    left: 80px;
    top: 17px;
    cursor: pointer;
    border-radius: 1px; }
  #points-edit .big:hover {
    background-color: #5c5e66; }

.points-display {
  font-size: 12px; }

/*# sourceMappingURL=index.css.map */
